<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">	org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-3-234-22-132.compute-1.amazonaws.com:5432/d5lngsnn2p2bq2</property>
        <property name="hibernate.connection.username">gloipiqdybtkxa</property>
        <property name="hibernate.connection.password">dca524ad71a00cbe6625378208350201d4ce392a3ee57708b1344f29cf2a1f04</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hbm2ddl.auto">update</property>
    </session-factory>
</hibernate-configuration>